@use "../global/" as *;

.container__main.projects {
  margin-top: $space-max;
  margin-bottom: var(--space-outer);
  padding: 6rem var(--space-side);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}
.project {
  &__image {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;

    & img {
      max-width: 100%;
    }
  }
  &__info {
    max-width: 100%;

    & .heading__h5 {
      // 2
      @media (max-width: 1200px) {
        font-size: 1.5rem;
      }
      @media (max-width: 990px) {
      }
      @media (max-width: 820px) {
        font-size: 1.4rem;
      }
      @media (max-width: 650px) {
        font-size: 1.6rem;
      }
    }
    & .heading__h3 {
      // 3.2
      margin: 5rem 0rem;
      margin: 2.5rem 0rem 5rem 0rem;

      @media (max-width: 1200px) {
        margin: 1.8rem 0rem 4rem 0rem;
        font-size: 2.8rem;
      }
      @media (max-width: 990px) {
      }
      @media (max-width: 820px) {
        margin: 1.2rem 0rem 3rem 0rem;
        font-size: 2.4rem;
      }
      @media (max-width: 650px) {
        margin: 1.2rem 0rem 3rem 0rem;
        font-size: 2.6rem;
      }
    }
    & .p__small {
      font-style: italic;
      text-align: end;
      margin-top: 10rem;

      @media (max-width: 1200px) {
        margin-top: 2.8rem;
      }
      @media (max-width: 990px) {
      }
      @media (max-width: 820px) {
        // text-align: start;
        margin-top: 2.8rem;
      }
      @media (max-width: 650px) {
        // text-align: start;
        margin-top: 3rem;
      }
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    & .btn__big {
      @media (max-width: 1200px) {
        padding: 0.8rem 4rem;
        font-size: 1.8rem;
      }
      @media (max-width: 1000px) {
        padding: 0.4rem 3rem;
        font-size: 1.6rem;
      }
      @media (max-width: 700px) {
        padding: 0.2rem 2.4rem;
        font-size: 1.4rem;
      }
      @media (max-width: 420px) {
        padding: 0.1rem 2rem;
        font-size: 1.2rem;
      }
    }
  }
}
